image:
  repository: ghcr.io/quovadis1212/contoso-app
  tag: "bca9ac8de84790e92287173516893740d7b9093e"
service:
  type: ClusterIP
  port: 3000
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
ingress:
  enabled: true
  host: contoso-app.prod.contoso.local
