image:
  repository: ghcr.io/quovadis1212/contoso-app
  tag: "09c57f04f545d68c2302b533c29f356faa429de5"
service:
  type: ClusterIP
  port: 3000
resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
ingress:
  enabled: true
  host: contoso-app.dev.contoso.local
