image:
  repository: ghcr.io/quovadis1212/contoso-app
  tag: "09c57f04f545d68c2302b533c29f356faa429de5"
service:
  type: ClusterIP
  port: 3000
resources:
  limits:
    cpu: 400m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
ingress:
  enabled: true
  host: contoso-app.stage.contoso.local
