image:
  repository: ghcr.io/quovadis1212/contoso-app
  tag: "91359d2d5d36cf89426addfc7a8cc04de6fe7179"
service:
  type: ClusterIP
  port: 3000
resources:
  limits:
    cpu: 400m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
ingress:
  enabled: true
  host: contoso-app.stage.contoso.local
