image:
  repository: ghcr.io/quovadis1212/contoso-app
  tag: "80a0b6b63ef615bf59df0ac0c95ad43fdc931512"
service:
  type: ClusterIP
  port: 3000
resources:
  limits:
    cpu: 400m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi
ingress:
  enabled: true
  host: contoso-app.stage.contoso.local
